version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  backend:
    build: .
    container_name: mern_backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis

volumes:
  redis_data:
